/* External CSS */
body {
    background-color: rgb(243, 243, 208)
}

h3 {
    background-color: chocolate;
    width: 110px;
}

.data {
    background-color: rgb(218, 218, 142);
    padding: 15px 15px 15px 50px;
    margin: 10px 10px 10px 700px;
    height: 200px;
    width: 450px;
    font-size: 25px;
}

.halo {
    background-color: rgb(165, 165, 100);
    padding: 10px 90px;
    margin: 10px 10px 10px 170px;
    width: 90X;
}

.ekskul {
    background-color:rgb(218, 218, 142);
    padding: 10px 65px;
    margin: 10px 10px 10px 600px;
    width: 150PX;
    height:35x;
    font-size: 15px;
}
    
.PENDIDIKAN { 
    background-color: rgb(165, 165, 100);
    padding: 5px 70px;
    margin: 5px;
    width: 200px;
}

.inspi {
    background-color: rgb(165, 165, 100);
    padding: 10px 70px;
    margin: 10px 10px 10px 95px;
    width: 90px;
}
   
.tahun {
    padding: 5px 2px;
    margin: 10px 10px 10px 270px;
    height: 189px;
    width: 175px;
    min-height: 10%;
    max-height: 10%;
    background-color: rgb(218, 218, 142);
}

.foto {
    width: 200px;
    height: 250px;
    background-color: cornsilk;
    border-radius: 100%;
    margin: auto;



}

.ug {
    width: 200px;
    height: 250px;
    border-radius: 100%;
}

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

.data {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.salam {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.PENDIDIKAN {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.ekskul {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.inspi {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.isiinspi {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.tahun {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.inspidua {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.name {
    max-width: 100%;
    max-height: 100%;
    font-size: 100%;
    font-family: Verdana, Geneva, Tahoma, sans-sersif;
    text-align: center;
}
.PENDIDIKAN {
    background-color:rgb(165, 165, 100);
    padding: 10px 70px;
    max-width: 100%;
    max-height: 100%;
    font-size: 100%;
    text-align: center;
    margin: 10px 10px 10px 200px;
}

.name {
    background-color: rgb(230, 230, 195);
    max-width: 25%;
    width: 50px;
    max-height: 150px;
    height: 90px;
    min-width: 75%;
    width: 10%;
    min-height: 50px;
    /* typography */
    font-size: 40px;
    font-weight: 200px;
    line-height: 90px;
    margin: 10px 10px 10px 180px;
}

/* .foto [
    text-align: center;
]

.circle>.gambar-saya {
    width: 200px;
    height: 200px;
}

.circle {
    width: 200px;
    height: 200px;
    background-color: tan;
    border-radius: 50%;
    margin: auto;
    border: 1px dotted cornsilk;
} */

/* .jenis-warna {
    font-size: 100px;
    font-weight: 700;
    color: tan; 
    color: wheat;
    color: white; 
    
} */

:root {
    --warnacream: burlywood;
    --warnalightkuning: lightgoldenrodyellow;
    --warnacoklatmuda: cornsilk;
    --warnacoklatmuda: bisque;
}

.salam {
    padding: 5px 40px 5px 10px;
    max-width: 90%;
    max-height: 50%px;
    font-size: 20px;
    text-align: center;
    line-height: 50px;
    margin:10px 10px 10px 50px;
    color: rgb(216, 189, 155);
    border-radius: 10px;
    box-shadow: 10px 13px rgba(230, 230, 163, 0.6);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: rgb(235, 235, 202);
    
}

.inspidua {
    margin: 10px 10px 10px 70px;
    background-color:rgb(218, 218, 142);
}

.inspitiga {
    margin: 10px 10px 10px 90px;
    background-color: rgb(218, 218, 142);
}   

.eks {
    background-color: rgb(235, 235, 190);
    padding: 10px 65px;
    margin: 10px 10px 10px 500px;
    width: 400PX;
    height:35x;
    font-size: 15px;
}

.halo {
    background-color: rgb(228, 228, 173);
    max-width: 90px;
    width: 15px;
    max-height: 90px;
    height: 90px;
    min-width: 8%;
    width: 8%;
    min-height: 30px;
    /* typography */
    font-size: 27px;
    font-weight: 198px;
    line-height: 90px;
    margin: 10px 10px 10px 50px;
}

.inspiempat {
    margin: 10px 10px 10px 90px;
    background-color: rgb(218, 218, 142);
    width: 300px;
}

.isiinspi {
    margin: 10px 10px 10px 90px;
    background-color: rgb(218, 218, 142);
    width: 400px;
}
